<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f7a440"/>
    <title>Info Cafe & Resto</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>
<body>
<a href="#main-content" class="skip-link">Menuju ke Konten</a>
<div class="logo_header_nav">
    <button  id="menu" class="header__menu">☰</button>
    <header>
        <div id="img-header">
            <img class="lazyload" src="/images/logo.png" alt="Logo Resto & Cafe" style="width: 200px; margin-top: 10px;">
        </div>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="index.html">Home</a></li>
            <li class="nav__item"><a href="#/favorite">Favorite</a></li>
            <li class="nav__item"><a href="https://cv-khoirulhuda.firebaseapp.com">About Us</a></li>
        </ul>
    </nav>
</div>
<div class="hero">
    <div class="hero__title">
        <h1>Cafe & Resto</h1>
        <p class="hero__tagline">Informasi tepat dan akurat mengenai cafe & resto</p>
    </div>
</div>
<main id="main-content"></main>
<footer>
       <p>Copyright &#169; 2021 - Cafe & Resto</p>
</footer>
</body>
</html>
