.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("/images/heros/hero-image_4.jpg");
    background-position: center;
}

.hero__title {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: #f7a440;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid #f1f1f1;
    position: absolute;
    margin-top: 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.hero__tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
}